{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Reset your password
{% endblock %}

{% block body %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
         body {
         background-color: #17c0eb;
         font-family: Nunito Sans;
         }
         .btn {
         background-color: #FECA76 ;
;
         width: 100%;
         color: #fff;
         padding: 10px;
         font-size: 18px;
         }
         .btn:hover {
         background-color: #2d3436;
         color: #fff;
         }
         input {
         height: 50px !important;
         }
         .form-control:focus {
         border-color: #FECA76;
         box-shadow: none;
         }
         h3 {
            font-size: 28px !important;
            font-style: 700;
            font-weight: 800;
            font-family: Poppins;
            color: #1F3349;
         }
         p{
            font-family: Poppins;

         }
         .cw {
         width: 35%;
         }
         @media(max-width: 992px) {
         .cw {
         width: 60%;
         }
         }
         @media(max-width: 768px) {
         .cw {
         width: 80%;
         }
         }
         @media(max-width: 492px) {
         .cw {
         width: 90%;
         }
         }
      </style>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-4 mt-3 center">
            <h3>Forgotten your password? </h3>
            <p>We've emailed you instructions for setting your password.</p>
            <p>Note: If you don't receive an email, please make sure you've entered the
                address you registered with.</p>
         </div>
      </div>
      {% endblock %}
