{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Login
{% endblock %}

{% block body %}
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
         body {
         background-color: #17c0eb;
         font-family: Nunito Sans;
         }
         .btn {
         background-color: #FECA76 ;
;
         width: 100%;
         color: #fff;
         padding: 10px;
         font-size: 18px;
         }
         .btn:hover {
         background-color: #2d3436;
         color: #fff;
         }
         input {
         height: 50px !important;
         }
         .form-control:focus {
         border-color: #FECA76;
         box-shadow: none;
         }
         h3 {
         color: black;
         font-size: 36px;
         }
         .cw {
         width: 35%;
         }
         @media(max-width: 992px) {
         .cw {
         width: 60%;
         }
         }
         @media(max-width: 768px) {
         .cw {
         width: 80%;
         }
         }
         @media(max-width: 492px) {
         .cw {
         width: 90%;
         }
         }
      </style>
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-5 mt-3 center">
            <h3>Forgotten your password? </h3>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form class="pb-3" method="POST">
                {% csrf_token %}
               <div class="form-group">
                  {{form}}
               </div>
               <button type="submit" name="Send email" value="Submit" class="btn">Reset Password</button>
            </form>
           
         </div>
      </div>
      {% endblock %}