{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Reset your password
{% endblock %}

{% block body %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'accounts/resetpass.css' %}">
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-4 mt-3 center">
            <h3>Forgotten your password? </h3>
            <p>We've emailed you instructions for setting your password.</p>
            <p>Note: If you don't receive an email, please make sure you've entered the
                address you registered with.</p>
         </div>
      </div>
      {% endblock %}
