{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Reset your password
{% endblock %}

{% block body %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
        
      </style>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-4 mt-3 center">
            <h3>Password set</h3>
            <p>Your password has been set. You can <a href="{% url 'accounts:loginPage' %}">log in now</a></p>
         </div>
      </div>
      {% endblock %}
