{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block body %}
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'accounts/resetpass.css' %}">
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-5 mt-3 center">
            <h3>Forgotten your password? </h3>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form class="pb-3" method="POST">
                {% csrf_token %}
               <div class="form-group">
                  {{form}}
               </div>
               <button type="submit" name="Send email" value="Submit" class="btn">Reset Password</button>
            </form>
           
         </div>
      </div>

{% endblock %}