{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Login
{% endblock %}

{% block body %}
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'accounts/resetpass.css' %}">
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-5 mt-3 center">
            <h3>Reset your password </h3>
            <p>Please enter your new password twice:</p>
            <form class="pb-3" action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                   {{form}}
                 </div>
                 <button type="submit" value="Change my password" class="btn">Reset Password</button>
            </form>
         </div>
      </div>
      {% endblock %}