{% extends 'home/base.html' %}
{% load static %}

{% block title %}\
Login
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'accounts/registration.css' %}">
<div class="registerPage">
    <div class="logo">
        <h3 class="logoText">
            Sahayog
        </h3>
    </div><br>
    <div class="title">Create an Account</div>

    <div class="content">
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            {{form.first_name}}
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            {{form.last_name}}
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            {{form.username}}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            {{form.email}}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            {{form.password1}}
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            {{form.password2}}
          </div>
          
        </div>
        <div class="send-updates">
          <input type="radio" name="SubStatus" id="dot-4">
          <label for="dot-4">
          <span class="dot four"></span>
          <span class="updates">Send me venue's and new venue updates</span>
        </label>
        </div>

        <div class="button">
          <input type="submit" value="Sign up">
        </div>
        <div style="text-align: center;">
          <p class="signin">Already have an account? <a style="font-weight: 600; color: rgb(254, 27, 27);" href="">Login</a></p>
        </div>
      </form>
    </div>
  </div>
  <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='FirstName';
		form_fields[2].placeholder='LastName';
		form_fields[3].placeholder='Username';
		form_fields[4].placeholder='Email';
		form_fields[5].placeholder='Password';
		form_fields[6].placeholder='Confirm Password';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
{% endblock %}