
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    z-index: 999999;
}
.logoText{
    font-family: 'Open Sans', sans-serif;
    color: #ECB90F;
}